.statsCard {
    color: #fff;
    display: block;
    font-size: 16px;
}

.statsContent {
    font-weight: 200;
    position: relative;
}
.statsContent div {
    width: 10%;
    display: inline-block;
}
.statsContent div span {position: absolute;}

#name {
    display: inline-block;
}

#level {
    width: 25%;
}